@font-face {
    font-family: "SF Pro Display Bold";
    src: url("https://db.onlinewebfonts.com/t/3cff9206b4c8d578245ef1aaeeaf9e84.woff2") format("woff2");
}

@font-face {
    font-family: "SF Pro Display Medium";
    src: url("https://db.onlinewebfonts.com/t/64a2cfb57c4a5df1013e4f2e5bf3eff3.woff2") format("woff2");
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url("https://db.onlinewebfonts.com/t/179429c3795fb9aed42c526bd1133cc0.woff2") format("woff2");
}

@import '~sweetalert2/src/variables';
@import '~sweetalert2/src/sweetalert2';

$primary:  darkcyan;
$background: darkslategray;
$dark-color: rgb(0, 0, 0);
$secondary-bg: rgb(243, 243, 243);

.m-text {
    line-height: 1.15rem;
}